.wrapper {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  gap: 0px;
  position: relative;
  border: 20px solid #3f3f3f;
  box-shadow: 0 0 100px 0 #000;
  aspect-ratio: 10/20;
  background: repeating-linear-gradient(
    to bottom,
    rgba(149, 165, 166, 40%) 0px,
    rgba(149, 165, 166, 40%) 0.5px,
    transparent 0.5px,
    transparent 27px,
    rgba(149, 165, 166, 40%) 27.5px,
    rgba(149, 165, 166, 40%) 28px
  ), repeating-linear-gradient(
    to right,
    rgba(149, 165, 166, 40%) 0px,
    rgba(149, 165, 166, 40%) 0.5px,
    transparent 0.5px,
    transparent 27px,
    rgba(149, 165, 166, 40%) 27.5px,
    rgba(149, 165, 166, 40%) 28px
  ), black;
}

.cell {
  width: 22px;
  height: 22px;
  display: inline-block;
  border-style: outset;
  border-color: transparent;
}

.purple {
  background-color: #b857f0;
  border-color:#b857f0;
  box-shadow: inset 0 0 1px 1px #dc9ddf;
}

.white {
  width: 22px;
  height: 22px;
}

.grey {
  background-color: #95a5a6;
  border-color: #95a5a6;
  box-shadow: inset 0 0 1px 1px #ccd4d5;
  z-index: 1;
}

.green {
  background-color: #39d352;
  border-color:#39d352;
  box-shadow: inset 0 0 1px 1px #7afd60;
  z-index: 1;
}

.yellow {
  background-color: #f3d528;
  border-color:#f3e528;
  box-shadow: inset 0 0 1px 1px #f0e588;
  z-index: 1;
}

.turquoise {
  background-color: #1abc9c;
  border-color:#1abc9c;
  box-shadow: inset 0 0 1px 1px #55e7ca;
  filter: saturate(3);
  z-index: 1;
}

.blue {
  background-color: #0f6fc9;
  border-color:#0f6fc9;
  box-shadow: inset 0 0 1px 1px #0ba4eb;
  z-index: 1;
}

.lightBlue {
  background-color: #01A2E8;
  border-color:#01A2E8;
  box-shadow: inset 0 0 1px 1px #0ba4eb;
  filter: saturate(3);
  z-index: 1;
}

.orange {
  background-color: #ff9100;
  border-color:#ff9100;
  box-shadow: inset 0 0 1px 1px #f7b02d;
  z-index: 1;
}

.hover {
  filter : contrast(175%) opacity(30%) ;
  z-index: 0;
}

section {
  display : flex;
  flex-direction: line;
  flex-wrap: wrap;
  left: 50px;
}

#gameOver, #pause, #score {
  font-family: 'Press Start 2P';
  font-size:70px;
  color:crimson;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  text-shadow: -3px 0 black, 0 3px black, 3px 0 black, 0 -3px black;
  z-index: 2;
  display: var(--display);
}

.animateScore{
  animation: 1s linear 0s animate;
}

@keyframes animate { from { top:100%; } to { top:50%; }  }

@media screen and (max-width: 780px){
  .wrapper {
    border: 0px;
    width:  37.5vh;
    height:100%;
  }

  section {
    left: 0px;
    width: 100%;
    height:100%;
    justify-content: center;
  }

  .cell {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border-radius: 2px;
    border-width:2px;
    border-style: outset;
  }

  .white {
    width: 100%;
    height: 100%;

    border-style: solid;

    border-radius: 0px;
    border-width: 2px;
  }
}
