
section {
  display : flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  padding-top: 10%;
  height: 100%;
  align-items: flex-start;
  justify-items: center;
  margin: auto;
  width: fit-content;
}

#scoreRight {
  display: none;
}

#scoreBar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height:75vh;
  max-height: 600px;
}

.leftMenu {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.options {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.options > p {
  color: white;
  font-family: 'Press Start 2P', serif;
}

.optionsMobile {
  display: none;
}

#nextTetromino{
  align-self: flex-start;
}

.options {
  display: flex;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  width: 21px;
  height: 21px;
  background-color: #0f6fc9;
  border-color:#0f6fc9;
  box-shadow: inset 0 0 1px 1px #0ba4eb;
  border-style: outset;
  left: 4px;
  bottom: 4px;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #1d72b4;
}

input:focus + .slider {
  box-shadow: 0 0 1px #1d72b4;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

@media screen and (max-width: 780px){
  section {
    flex-direction: row;
    padding-top: 0;
    gap: 0;
  }

  #scoreLeft {
    display: none;
  }

  #scoreRight {
    display: block;
  }

  #commandBar {
    order: -1;
    width:60%;
  }

  .children{
    width: 100vw;
    margin: 0px;
  }

  #grid{
    height:75vh;
  }

  section{
    padding:0px;
  }

  #scoreBar {
    margin-left: 0px;
    width:100vw;
    flex-direction: row;
    height: fit-content;
    max-height: none;

  flex-wrap: wrap;
  }

  #nextTetromino{
    width:40%;
  }

  .optionsMobile {
    display: flex;
    padding-top: 20px;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .optionsMobile > p {
    color: white;
    font-family: 'Press Start 2P', serif;
  }

  .options {
    display: none;
  }
}
