.wrapper {
  gap: 0px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #050202;
  background-color: rgba(0,0,0,50%);
  width : 150px;
  height: 150px;

}

.grid {
  display: grid;
  width: fit-content;
  grid-template-columns: repeat(var(--width), 1fr);
  grid-template-rows: repeat(var(--height), 1fr);
}


.cell {
  width: 22px;
  height: 22px;
  display: inline-block;
  border-style: outset;
  border-color: transparent;
}

.purple {
  background-color: #b857f0;
  border-color:#b857f0;
  box-shadow: inset 0 0 1px 1px #dc9ddf;
}

.white {
  width: 22px;
  height:22px;
}

.grey {
  background-color: #95a5a6;
  border-color: #95a5a6;
  box-shadow: inset 0 0 1px 1px #ccd4d5;
}

.green {
  background-color: #39d352;
  border-color:#39d352;
  box-shadow: inset 0 0 1px 1px #7afd60;
}

.yellow {
  background-color: #f3d528;
  border-color:#f3e528;
  box-shadow: inset 0 0 1px 1px #f0e588;
}

.turquoise {
  background-color: #1abc9c;
  border-color:#1abc9c;
  box-shadow: inset 0 0 1px 1px #55e7ca;
  filter: saturate(3);
}

.blue {
  background-color: #0f6fc9;
  border-color:#0f6fc9;
  box-shadow: inset 0 0 1px 1px #0ba4eb;
}

.lightBlue {
  background-color: #01A2E8;
  border-color:#01A2E8;
  box-shadow: inset 0 0 1px 1px #0ba4eb;
  filter: saturate(3);
}

.orange {
  background-color: #ff9100;
  border-color:#ff9100;
  box-shadow: inset 0 0 1px 1px #f7b02d;
}
