p{
  color:white;
  font-family: 'Press Start 2P', serif;
  text-align: center;
}

.scoreBox > p {
  font-size: large;
}

.label {
}

.scoreItem {
  width : 80%;
}

.scoreBox {
  display: flex;
  border: #40708e solid 2px;
  justify-content: center;
  align-items: center;
  width: 100%;
}

#scoreDiv{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(10,5,47,60%);
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  width: 200px;
}
