/* You can add global styles to this file, and also import other style files */

html{

  background-size: 120vw 120vh;
  background-image:
    linear-gradient(#1212a6, blue),
    url("/assets/img/background.jpg") ;
  background-attachment: fixed;
  background-blend-mode: darken;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
}

#headerContent{
  height : 100px;
}

@media screen and (max-width: 780px){
  section{
    margin-left: 0px;
  }
  #headerContent{
    height : 0px;
  }
}
